<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/img/Olhinho-azul.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Effra"/>
    <link href="/css/Comic.css" rel='stylesheet'/>
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <title>Sucesso</title>
</head>
<body>
    
    <header class="row">
        <div class="navbar navbar-expand-md navbar-dark bd-navbar col-sm-12" style="background-color:#676AA4; padding:20px;">
            <b style="font-size:2vw; color: rgb(255, 255, 255); margin-left: 36%; text-align: center;">CADASTRADO COM SUCESSO</b>
            <img src="/img/Olho.png" width="45" height="35" style="margin-left: 0.3%;"/>
            
            
        </div>
    </header>
    <div class="row">
    
            <h1 class="offset-sm-3 col-sm-6 offset-sm-3" style="text-align: center; color: white; margin-top: 18%;">
                Cadastro realizado com sucesso!
                Aguarde o contato da nossa equipe.
            </h1>
        
        
    </div>
    
</body>
</html>